.contenedor{
    min-height: calc(100vh - 120px);
}
.cardForm{
    background-color: rgba(27, 40, 51, 0.301);
    width: 80%;
    padding: 30px;
    border-radius: 20px;
}
.inputSignUp{
    width: 300px !important;
}
